<p class="text-info">
    <img src="assets/resources/{{product.sku}}.jpg" alt="{{product.name}}"/>
    {{product.name}}: {{product.description}}<br />
<div class="row">
    <div class="col-md-8">

        <!-- product info -->
        <table class="table table-bordered">

            <!-- cart summary at the top -->
            <tr class="well">
                <td class="text-Right" colspan="3">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
                    <a routerLink="/cart" title="go to shopping cart">
                        <b>{{pdtSvc.getTotalCount()}}</b> items, <b>{{pdtSvc.getTotalPrice() | currency:'USD':true}}</b>
                    </a>
                </td>
            </tr>

            <!-- product calories -->
            <tr>
                <td class="text-Right"><b>Calories</b></td>
                <td class="text-Center">
                    <h2>{{product.cal}}</h2>
                </td>
            </tr>



            <!-- cart summary at the bottom -->
            <tr class="well">
                <td class="text-right" colspan="2">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
                    <a routerLink="/cart" title="go to shopping cart">
                        <b>{{pdtSvc.getTotalCount()}}</b> items, <b>{{pdtSvc.getTotalPrice() | currency:'USD':true}}</b>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <button class="btn btn-block btn-primary" 
            (click)="pdtSvc.addCartItem(product, 1)">
            <i class="glyphicon glyphicon-shopping-cart"></i> add to cart
        </button>
        <button class="btn btn-block btn-danger"
            (click)="pdtSvc.clearCartItem(product.sku)"
            [disabled]="pdtSvc.getTotalCount(pdtSvc.products.currentItem.sku) < 1">
            <i class="glyphicon glyphicon-trash"></i> remove from cart
        </button>
        <button class="btn btn-block" 
            (click)="backToStore()">
            <i class="glyphicon glyphicon-chevron-left"></i> back to store
        </button>
    </div>
</div>
